.placeholder{
    margin: 200px;
}

.sign-in{
    background: rgb(255, 254, 255);
    width: 300px;
    
    
    border-width: .5px;
    border-color: rgb(211, 211, 211);
    border-style: solid;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.email-input{
    width: 97%;
}

.password-input{
    width: 97%;
}

.continue-button{
    height: 29px;
    width: 100%;
    box-shadow: 0 1px 0 rgba(255,255,255,.4) inset;
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    margin-top: 8px;
}

.create-account{
    height: 29px;
    width: 100%;
    margin-top: 8px;
}

.footer-links li{
    display: inline;
    padding-right: 10px;
    font-size: small;  
}


